<%= stylesheet_link_tag "groupPageUser" %>
<div class="spacer large-2 columns">&nbsp</div>
	<section class="large-2 columns tournament-listing content">
		<!-- Display old tournaments and their victors -->
		<h3>Completed Tournaments</h3>
		<% if @complete_tournaments.empty? %>
			<p>None</p>
		<% else %>
			<% @complete_tournaments.each_with_index do |t,i| %>
				<ul class="completed-tournament-list"> 
					<li class="tournament-li"> <h5><%= t.name %></h5> <h5> Victor : <%=@champs[i].username%></h5> </li>
				</ul>
			<% end %>
		<% end %>
	</section>
	
	<section class="large-2 columns tournament-listing content">
		<!-- Link to in progress tournaments -->
		<h3>Active Tournaments</h3>
		<% if @incomplete_tournaments.empty?%>
			<p>None. Get your group's admin to create one!</p>
		<%else%>
			<% @incomplete_tournaments.each do |t| %>
				<ul>
					<li class="tournament-li"> <p><%= link_to t.name, tournament_path(t.id) , method: :GET %></p> </li>
				</ul>
			<% end %>
		<%end%>
	</section>


	<!--       Stats section         -->
	<section class="large-4 columns stats content">
		<h1>Group Stats </h1>
		<table class="stats-table"> 
			<thead>
				<th class="corner sortable">Player</th>
				<th class="sortable">Match Wins</th>
				<th class="sortable">Match Losses </th>
				<th class="sortable"> Win/Loss </th>
				<th class="corner sortable">Tournament Wins </th>
			</thead>
			<% @group_users.each_with_index do |user,i| %>
				<tr>
					<td> <%= user.username %> </td>
					<td> <%= @all_user_wins[i] %> </td>
					<td> <%= @all_user_losses[i]%></td>
					<td> <%= @all_user_win_loss_ratios[i]  %></td> 
					<td> <%= @all_user_tournament_wins[i] %> </td>
				</tr>
			<% end %>
		</table>

		<h3 class="head-to-head-title"> Head to Head</h3>
		<!-- On selection, send AJAX to get the info needed for the table -->
		
		<select class="user-1 " onchange="changeEventHandler(event);"> 
			<% @group_users.each do |user| %>
				<option value="<%=user.username%>"> <%=user.username%> </option>
			<% end %>
		</select>
		<p class="vs">VS<p>
		<select class="user-2" onchange="changeEventHandler(event);"> 
			<% @group_users.each do |user| %>
				<option value="<%=user.username%>"> <%=user.username%> </option>
			<% end %>
		</select>

		<table class="head-to-head">
			<thead> 
				<th>Meetings</th>
				<th>Victories</th>
				<th>Defeats</th>
			</thead>
			<tr>
				<td class="meetings"></td>
				<td class="victories"></td>
				<td class="defeats"></td>
			</tr>
		</table>
		

	</section>

<div class="spacer large-2 columns">&nbsp</div>	