<h2>Your Groups</h2>

<% @active_groups.each do |group| %>
	<ul> 
		<li> <%= link_to group.name, group_path(group.id) , method: :GET  %> </li>
	</ul>
<% end %>


<h2> Pending Group Invites </h2>
<% @pending_groups.each_with_index do |group,i| %>
	<ul>
	<li> <%=group.name%> 
		 <button class="accept-invite">Accept invite </button> 
		 <input class="group-id" type="hidden" value=<%=group.id%>> 
		 <input class="user-id" type="hidden" value=<%=current_user.id%>>
		 <input class="membership-id" type="hidden" value=<%=@pending_memberships[i].id%>>
	</li>
	</ul>
<% end %>