<%= stylesheet_link_tag "four_person_tournament" %>
<%= javascript_include_tag "playTournament" %>
<div class="row">
    <div class="large-12 columns">
      <h1 class="text-center panel"><%=@tournament.name%></h1>
    </div>
  </div>

  <div class="row tournament-container">

      <div class="custom-width-1 columns">
        <div class="row player even start text-center"><%=@players[0]%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@players[1]%></div>
        <div class="row ">&nbsp</div>
        <div class="row player even start text-center"><%=@players[2]%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@players[3]%></div>
        <div class="row ">&nbsp</div>
        <div class="row player even start text-center"><%=@players[4]%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@players[5]%></div>
        <div class="row ">&nbsp</div>
        <div class="row player even start text-center"><%=@players[6]%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@players[7]%></div>
        <div class="row ">&nbsp</div>

      </div>

      <div class="custom-width-1 columns spacer">
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</span></div>

        <div>
          <div class="line connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>

        <div>&nbsp</div>    

        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>
          <div class="line connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>

        <div>&nbsp</div>   

        <div>
          <div class="line">&nbsp</div>
          <div class="line  player-line wider">&nbsp</div>
          <div class="line connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</span></div>

        <div>
          <div class="line connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>

        <div>&nbsp</div>    

        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>
          <div class="line connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>        

      </div>

      <div class="custom-width-1 columns">
        <div class="row ">&nbsp</div>
        <div class="row player even round2 text-center">round 1 victor</div>
        <div class="row ">&nbsp</div>  
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <div class="row player odd round2 text-center">round 1 victor</div>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <div class="row player even round2 text-center">round 1 victor</div>
        <div class="row ">&nbsp</div>  
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <div class="row player odd round2 text-center">round 1 victor</div>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
      </div>

      <div class="custom-width-1 columns spacer">
        <div>&nbsp</div>
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line bigger-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>          
          <div class="line bigger-connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line bigger-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>          
          <div class="line bigger-connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>
        <div>&nbsp</div>        
      </div>

      <div class="custom-width-1 columns">
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row player even winner text-center">round 2 victor</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>      
        <div class="row">&nbsp</div>   
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row player odd winner text-center">round 2 victor</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>      
        <div class="row">&nbsp</div>           
      </div>
      <div class="custom-width-1 columns spacer">
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line even-wider">&nbsp</div>
          <div class="line even-bigger-connector">&nbsp</div>
        </div>

        <div class="line wider-center">&nbsp</div>      

        <div>          
          <div class="line even-bigger-connector">&nbsp</div>
          <div class="line player-line even-wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>  
  
      </div>

      <div class="custom-width-1 columns spacer">
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div class="player champion text-center ">Winner</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
      
      </div>

  </div>


