<%= stylesheet_link_tag "eight_person_tournament" %>
<%= javascript_include_tag "playTournament" %>

<!-- Things I need in Javascript to send AJAX requests in order to update matches -->
<% @matches.each_with_index do |m,i| %>
  <input type="hidden" class="match_<%=i+1%>_id" value=<%=m.id%> >
<% end %>
<input type="hidden" class="tournament_id" value=<%=@tournament.id%> >


<!--     Tournament View     -->
<div class="row">
    <div class="large-12 tournament-title columns">
      <div class="text-center panel"><%=@tournament.name%></div>
    </div>
  </div>

  <div class="row tournament-container">

      <div class="custom-width-1 columns">
        <div class="row player even start text-center"><%=@all_player_spots[0] != nil ? @all_player_spots[0] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@all_player_spots[1] != nil ? @all_player_spots[1] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player even start text-center"><%=@all_player_spots[2] != nil ? @all_player_spots[2] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@all_player_spots[3] != nil ? @all_player_spots[3] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player even start text-center"><%=@all_player_spots[4] != nil ? @all_player_spots[4] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@all_player_spots[5] != nil ? @all_player_spots[5] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player even start text-center"><%=@all_player_spots[6] != nil ? @all_player_spots[6] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@all_player_spots[7] != nil ? @all_player_spots[7] : "bye"%></div>
        <div class="row ">&nbsp</div>

      </div>

      <div class="custom-width-1 columns spacer">
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</span></div>

        <div>
          <div class="line connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>

        <div>&nbsp</div>    

        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>
          <div class="line connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>

        <div>&nbsp</div>   

        <div>
          <div class="line">&nbsp</div>
          <div class="line  player-line wider">&nbsp</div>
          <div class="line connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</span></div>

        <div>
          <div class="line connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>

        <div>&nbsp</div>    

        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>
          <div class="line connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>        

      </div>

      <div class="custom-width-1 columns">
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[8] %>
          <div class="row player even round2 text-center"><%=@all_player_spots[8]%></div>
        <% else %>
          <div class="row player even round2 text-center">round 1 victor</div>
        <% end %>
        <div class="row ">&nbsp</div>  
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[9] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[9]%></div>
        <% else %>
          <div class="row player odd round2 text-center">round 1 victor</div>
        <% end %>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[10] %>
          <div class="row player even round2 text-center"><%=@all_player_spots[10]%></div>
        <% else %>
          <div class="row player even round2 text-center">round 1 victor</div>
        <% end %>
        <div class="row ">&nbsp</div>  
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[11] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[11]%></div>
        <% else %>
          <div class="row player odd round2 text-center">round 1 victor</div>
        <% end %>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
      </div>

      <div class="custom-width-1 columns spacer">
        <div>&nbsp</div>
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line bigger-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>          
          <div class="line bigger-connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line bigger-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>          
          <div class="line bigger-connector">&nbsp</div>
          <div class="line player-line wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>
        <div>&nbsp</div>        
      </div>

      <div class="custom-width-1 columns">
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <% if @all_player_spots[12] %>
          <div class="row player even round2 text-center"><%=@all_player_spots[12]%></div>
        <% else %>
          <div class="row player even round2 text-center">round 2 victor</div>
        <% end %>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>      
        <div class="row">&nbsp</div>   
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <% if @all_player_spots[13] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[13]%></div>
        <% else %>
          <div class="row player odd round2 text-center">round 2 victor</div>
        <% end %>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>      
        <div class="row">&nbsp</div>           
      </div>
      <div class="custom-width-1 columns spacer">
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line even-wider">&nbsp</div>
          <div class="line even-bigger-connector">&nbsp</div>
        </div>

        <div class="line wider-center">&nbsp</div>      

        <div>          
          <div class="line even-bigger-connector">&nbsp</div>
          <div class="line player-line even-wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>  
  
      </div>

      <div class="custom-width-1 columns spacer">
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div class="player champion text-center ">Winner</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
      
      </div>

  </div>


