<%= stylesheet_link_tag "tournamentStyles" %>


<!-- Things I need in Javascript to send AJAX requests in order to update matches -->
<!-- ADD THINGS BACK HERE ONCE IT'S READY!!! CHECK OTHER VIEWS -->


<!--     Tournament View     -->
<div class="row">
    <div class="large-12 columns">
      <h3>Double elimination test </h3>
    </div>
  </div>

  <div class="row tournament-container">

      <div class="custom-width-3 columns">
        <div class="row player even start text-center"><%=@all_player_spots[0] != nil ? @all_player_spots[0] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@all_player_spots[1] != nil ? @all_player_spots[1] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player even start text-center"><%=@all_player_spots[2] != nil ? @all_player_spots[2] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@all_player_spots[3] != nil ? @all_player_spots[3] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player even start text-center"><%=@all_player_spots[4] != nil ? @all_player_spots[4] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@all_player_spots[5] != nil ? @all_player_spots[5] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player even start text-center"><%=@all_player_spots[6] != nil ? @all_player_spots[6] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row player odd start text-center"><%=@all_player_spots[7] != nil ? @all_player_spots[7] : "bye"%></div>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[8] %>
          <div class="row player even round2 text-center"><%=@all_player_spots[8]%></div>
        <% else %>
          <div class="row player even round2 text-center">Loser 1</div>
        <% end %>
        <div class="row ">&nbsp</div>  
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[9] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[9]%></div>
        <% else %>
          <div class="row player odd round2 text-center">Loser 2</div>
        <% end %>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[10] %>
          <div class="row player even round2 text-center"><%=@all_player_spots[10]%></div>
        <% else %>
          <div class="row player even round2 text-center">Loser 3</div>
        <% end %>
        <div class="row ">&nbsp</div>  
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[11] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[11]%></div>
        <% else %>
          <div class="row player odd round2 text-center">Loser 4</div>
        <% end %>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
      </div>

      <div class="custom-width-3 columns spacer">
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wide ">&nbsp</div>
          <div class="line eight-double-elim-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</span></div>

        <div>
          <div class="line eight-double-elim-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wide">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>

        <div>&nbsp</div>    

        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wide">&nbsp</div>
          <div class="line eight-double-elim-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>
          <div class="line eight-double-elim-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wide">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>

        <div>&nbsp</div>   

        <div>
          <div class="line">&nbsp</div>
          <div class="line  player-line eight-double-elim-wide">&nbsp</div>
          <div class="line eight-double-elim-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</span></div>

        <div>
          <div class="line eight-double-elim-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wide">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>

        <div>&nbsp</div>    

        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wide">&nbsp</div>
          <div class="line eight-double-elim-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>
          <div class="line eight-double-elim-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wide">&nbsp</div>
          <div class="line">&nbsp</div>
        </div>        

        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wide">&nbsp</div>
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>          
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wide">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>
        <div>&nbsp</div>       
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wide">&nbsp</div>
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>          
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wide">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>
        
      </div>

      <div class="custom-width-3 columns">
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[8] %>
          <div class="row player even round2 text-center"><%=@all_player_spots[8]%></div>
        <% else %>
          <div class="row player even round2 text-center">victor</div>
        <% end %>
        <div class="row ">&nbsp</div>  
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[9] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[9]%></div>
        <% else %>
          <div class="row player odd round2 text-center">victor</div>
        <% end %>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[10] %>
          <div class="row player even round2 text-center"><%=@all_player_spots[10]%></div>
        <% else %>
          <div class="row player even round2 text-center">victor</div>
        <% end %>
        <div class="row ">&nbsp</div>  
        <div class="row ">&nbsp</div>
        <div class="row ">&nbsp</div>
        <% if @all_player_spots[11] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[11]%></div>
        <% else %>
          <div class="row player odd round2 text-center">victor</div>
        <% end %>
        <div class="row ">&nbsp</div>
   
         <% if @all_player_spots[13] %>
           <div class="row player odd round2 text-center"><%=@all_player_spots[13]%></div>
         <% else %>
           <div class="row player odd round2 text-center">Loser 5</div>
         <% end %>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <% if @all_player_spots[13] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[13]%></div>
        <% else %>
          <div class="row player odd round2 text-center"> victor</div>
        <% end %>
        <div class="row">&nbsp</div>      
        <div class="row">&nbsp</div>   
        <div class="row">&nbsp</div>
        

        <% if @all_player_spots[13] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[13]%></div>
        <% else %>
          <div class="row player odd round2 text-center">Loser 6</div>
        <% end %>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>

        <% if @all_player_spots[13] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[13]%></div>
        <% else %>
          <div class="row player odd round2 text-center">victor</div>
        <% end %>
      </div>

      <div class="custom-width-3 columns spacer">
        <div>&nbsp</div>
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
        </div>

        <div class="line wider-center">&nbsp</div>

        <div>          
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>          
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>
        <div>&nbsp</div>    
        
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>          
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>

        <div>&nbsp</div>       
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
        </div>

        <div class="line center">&nbsp</div>

        <div>          
          <div class="line eight-double-elim-bigger-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>
      </div>

      <div class="custom-width-3 columns">
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <% if @all_player_spots[12] %>
          <div class="row player even round2 text-center"><%=@all_player_spots[12]%></div>
        <% else %>
          <div class="row player even round2 text-center">victor</div>
        <% end %>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>      
        <div class="row">&nbsp</div>   
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <% if @all_player_spots[13] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[13]%></div>
        <% else %>
          <div class="row player odd round2 text-center">victor</div>
        <% end %>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div>&nbsp</div>       
        <div>&nbsp</div>
        <% if @all_player_spots[13] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[13]%></div>
        <% else %>
          <div class="row player odd round2 text-center">victor</div>
        <% end %>
        <div>&nbsp</div>
        <div>&nbsp</div>       
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>       
        <div>&nbsp</div>
        <div>&nbsp</div>
        <% if @all_player_spots[13] %>
          <div class="row player odd round2 text-center"><%=@all_player_spots[13]%></div>
        <% else %>
          <div class="row player odd round2 text-center">victor</div>
        <% end %>
      </div>

      <div class="custom-width-3 columns spacer">
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line eight-double-elim-even-bigger-connector">&nbsp</div>
        </div>

        <div class="line wider-center eight-double-elim-extra-long">&nbsp</div>      

        <div>          
          <div class="line eight-double-elim-even-bigger-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>  

        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line eight-double-elim-even-bigger-connector">&nbsp</div>
        </div>

        <div class="line wider-center">&nbsp</div>      

        <div>          
          <div class="line eight-double-elim-even-bigger-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>  
  
      </div>

      <div class="custom-width-3 columns">
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div class="row player even round2 text-center ">Loser 7</div>  
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div class="row player champion text-center ">victor</div>
      </div>

      <div class="custom-width-3 columns">
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>     
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>   
        <div>&nbsp</div>     
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
  
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line eight-double-elim-even-bigger-connector">&nbsp</div>
        </div>

        <div class="line wider-center">&nbsp</div>      

        <div>          
          <div class="line eight-double-elim-even-bigger-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>  
      </div>

      <div class="custom-width-3 columns">
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>     
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>
        <div class="row player champion text-center "> victor</div>   
        <div>&nbsp</div>   
        <div>&nbsp</div>     
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>INDICATOR</div>    
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>  
        <div>&nbsp</div>    
        <div class="row player champion text-center ">victor</div>
      </div>

      <div class="custom-width-3 columns">
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>     
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
     
        <div>
          <div class="line">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line eight-double-elim-final-connector">&nbsp</div>
        </div>

        <div class="line wider-center">&nbsp</div>      

        <div>          
          <div class="line eight-double-elim-final-connector">&nbsp</div>
          <div class="line player-line eight-double-elim-wider">&nbsp</div>
          <div class="line">&nbsp</div>        
        </div>  

        
      </div>

      <div class="custom-width-3 columns">
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>     
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>      
        <div>&nbsp</div>     
        <div>&nbsp</div>      
   
        <div class="row player champion text-center ">victor</div>
      </div>


  </div>