<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- /* Background pattern from subtlepatterns.com */ -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Score Settler" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <!-- so I can get page specific javascripts -->
    <%= yield(:head) %>
  </head>
  
  <header class="site-header">
      <% if current_user %>
        <nav class="top-bar">
          <ul class="nav-list">
            <li class="nav-list-item active"><%= link_to 'Home', user_path(current_user.id), :method => :get %></li>
            <li class="nav-list-item active"> <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </li>
          </ul>
        </nav>
      <% else %>
        <p class="login-status">Please <%= link_to 'sign in', new_user_session_path %> first.</p>
     <% end %>
  </header>

  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "layout" %>
  
  </body>

</html>